*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.head,.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 82, 82);
}
.gname{
    font-family: 'Tilt Prism', cursive;
    font-size: 60px;
    color: rgb(126, 142, 112);
    padding: 7px;
}
.text{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color:rgb(165, 171, 161);
}
.btns{
    background-color: rgb(33, 33, 42);
    height: 65vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10vh;
    padding:10vh;
}
.cbtn,.clbtn,.ebtn,.rbtn,.cpk{
    width: 20vh;
    height: 8vh;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}
.cpk{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lbtn{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}
.full{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 67, 71);
    gap:200px;
}
.container{
    width:480px;
    height:480px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.mbox{
    border: 0.5px solid white;
    box-sizing: border-box;
}
.bottom{
    font-family: 'Satisfy', cursive;
    color:rgb(165, 171, 161);
}