*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 67, 71);
}
.btns{
    display: flex;
    flex-direction: column;
}
.cbtn,.lbtn,.clbtn,.ebtn{
    width: 20vh;
    height: 8vh;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}
.full{
    display: flex;
    align-items: center;
    gap:200px;
}
.container{
    width:480px;
    height:480px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.mbox{
    border: 1px solid white;
    box-sizing: border-box;
}
.clb{
    background-color:white;
}
